{{ define "styles" }}
<style>

/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.monospaced-text {
    font-family: 'Fira Code', 'Courier New', monospace;
    background-color: black;
    color: white;
}

.result-class {
    font-size: large;
    padding: 5px 5px 5px 5px;
}

header {
    background-color: #0074d9;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

</style>
{{ end }}